@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    font-family: 'Spartan', sans-serif;
}
:root{

    /* ## Colors */
    
    /* ### Primary */
    
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    
    /* ### Neutral */
    
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 25%;
}

main::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('/images/bg-pattern-top-desktop.svg');
    background-repeat: no-repeat;
}

main::after{
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    content: "";
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url('/images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
}

.main-section{
    justify-self: center;
    width: 110rem;
    height: 60rem;
    /* justify-self: center; */
    display: flex;
    flex-direction: column;
    gap: 8.2rem;
    align-self: center;
}


.first-row,
.secund-row{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

         /* FIRST ROW */
    /* Left side */
.title-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    width: 50%;
}

.title-child h1{
    font-size: 5rem;
    line-height: 1;
    color: var(--Very-Dark-Magenta);
}

.title-child p{
    line-height: 2;
    color: var(--Dark-Grayish-Magenta);
}
    /* Right side */
.ratings-box-child{
    width: 50%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.rating-box{
    background-color: var(--Light-Grayish-Magenta);
    padding: 2rem 0;
    width: 80%;
    border-radius: 15px;
    display: flex;
    justify-content: center ;
    gap: 3rem;
}

.rating-stars{
    width: 100px;
    background-image: url('../images/icon-star.svg');
    background-repeat: space no-repeat;
}

.rating-box p{
    color: var(--Very-Dark-Magenta);
    font-weight: 700;
}

.rating--1{
    align-self: flex-start;
}

.rating--2{
    align-self: center;
}

.rating--3{
    align-self: flex-end ;
}
        /* SECUND ROW */
.secund-row{

}
.testimonial-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    width: 35rem;
    height: 23rem;
    background-color: var(--Very-Dark-Magenta);
    border-radius: 15px;
}

.profile-row{
    width: 80%;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.profile-info-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.profile-img{
    height: 4rem;
    border-radius: 100%;
}

.profile-info-box h2{
    font-size: 1.5rem;
    color: var(--White);
}

.profile-info-box p{
    color: var(--Soft-Pink);
}

.testimonial{
    width: 80%;
    color: var(--Light-Grayish-Magenta);
    line-height: 1.5;
}

.box--1{
    align-self: start;
}

.box--2{
    align-self: center;
}

.box--3{
    align-self: flex-end;
}

.attribution {
    color: var(--Soft-Pink);
    font-weight: 500;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
